<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      SPAN
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <!--p showWhen="cordova" padding style="-webkit-user-select: auto;">Token: {{ token }}</p-->

  <ion-grid showWhen="core" style="padding: 20px 10%">

    <ion-row no-padding style="height: 85vh;">

      <ion-col no-padding width-33 style="background: white; margin-top: 1px;">

        <ion-list style="height: 100%; overflow: scroll; overflow-x: hidden">
          <button ion-item *ngFor="let i of items">
            
              <ion-grid no-padding>
                <ion-row>
                  <ion-col width-80 no-padding>
                    <h2>Notice Title</h2>
                  </ion-col>
                  <ion-col width-20 no-padding>
                    <h2 text-right><small>8.50 PM</small></h2>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <h3>Created By You</h3>  
          
          </button>
        </ion-list>

      </ion-col>

      <ion-col no-padding width-67 style="background: #CFC7B8;">

        <div class="vertical-center-elements" text-center>

          <div>
            <img src="assets/icon/main.png" alt="">
            <h1>Welcome to SPAN!</h1>
          </div>

        </div>

      </ion-col>

    </ion-row>

  </ion-grid>


  <!--ion-list>
    <button ion-item *ngFor="let i of items">
      
        <ion-grid no-padding>
          <ion-row>
            <ion-col width-80 no-padding>
              <h2>Notice Title</h2>
            </ion-col>
            <ion-col width-20 no-padding>
              <h2 text-right><small>8.50 PM</small></h2>
            </ion-col>
          </ion-row>
        </ion-grid>
        <h3>Created By You</h3>  
    
    </button>


  </ion-list-->
  <div hideWhen="core">

    <ion-card *ngFor="let i of items">

      <button ion-button full clear color="dark">
          <b>Notice Title</b>
      </button>
      <!--ion-card-header>
        <b>Notice Title</b>    
      </ion-card-header-->
      <ion-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni repudiandae distinctio quisquam ipsa eius eos reprehenderit
        </p>
      </ion-card-content>

      <ion-row no-padding>
        <ion-col text-left>
          <button ion-button clear small color="danger" icon-left>
            <ion-icon name='eye'></ion-icon>
            View
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button clear small color="danger" icon-left>
            <ion-icon name='share-alt'></ion-icon>
            Share
          </button>
        </ion-col>
      </ion-row>

    </ion-card>

  </div>



  <ion-fab bottom right (click)="addNewNotice()">
    <button ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>