<!--
  Generated template for the AddNotice page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Add New Notice</ion-title>
    <ion-buttons start>
      <button ion-button (click)="tag()">
        <ion-icon style="font-size: 1.66em;" name="share"></ion-icon>
      </button>
      <button ion-button (click)="closePage()">
        <ion-icon style="font-size: 1.66em;" name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding-top>

  <ion-item padding-right>
    <ion-label color="primary" stacked>Title</ion-label>
    <ion-input #title type="text"></ion-input>
  </ion-item>
  <ion-item padding-right>
    <ion-label color="primary" stacked>Description</ion-label>
    <ion-textarea #desc rows="5"></ion-textarea>
  </ion-item>
  <ion-item padding-right *ngIf="canUpload"> 
    <label for="noticeFiles" ion-button clear>
      Upload Files
    </label>
    <input id="noticeFiles" type="file" multiple (change)="addFiles($event)">
  </ion-item>
  <ion-list *ngIf="files.length > 0">
    <ion-list-header no-margin>
      <ion-label color="primary" stacked>Attachments</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let file of files; let i = index">
        <ion-avatar item-left>
          <div *ngIf="file.state == 'running'" class="loader"></div>
          <ion-icon style="font-size: 2.2em;color: green;" *ngIf="file.state == 'success'"  name="checkmark-circle-outline"></ion-icon></ion-avatar>
        <p>{{ file.file.name }}</p>
        <ion-icon name="close" item-right (click)="removeFile(i)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary-dark">
    <ion-title>{{ sendText }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-right (click)="create(title.value, desc.value)">
          Create
          <ion-icon name="send"></ion-icon>
        </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>